import { FC, memo } from "react";
import {{title}}Styles from "./{{title}}ContainerStyles";
interface {{title}}Props {

}

const {{title}}: React.FC<{{title}}Props> = props => {

    const {

    } = props;

    const { classes } = {{title}}Styles();

    return (
        <>
            <div>
                
            </div>
        </>
    );

}

export default memo({{title}});